* {
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #dedbdb;
}

#navegacao{
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;
}

.area{
    width: 720px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.verde{
    color: #b9c941;
}

.menu{
    float: right;
    padding: 10px 0;
}

#logo{
    float: left;
}

/* Formação do menu */
a{
    text-decoration: none;
    padding: 5px 10px;
}

/* Link não visitado */
a:link{
    color: #838383;
}

/* Link visitado */
a:visited{
    color: #838383;
}

/* Quando passo o mouse */
a:hover{
    color: #fff;
    background: #b9c941;
}

/* Quando clica */
a:active{
    color: #535353;
}

#area-principal{
    width: 720px;
    margin: 55px auto 10px auto;
    /* border: 1px solid red; */
}

#postagem{
    background: #fff;
    padding: 10px;
    margin-top: 10px;
}

.data-postagem{
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;    
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem{
    float: left;
    margin: 0 10px 5px 0;
    height: 100px;
    width: 120px;
}

.postado{
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
}

h2{
    color: #b9c941;
}

.alinhamento{
    text-align: justify;
}